Library/
ProjectSettings/
Temp/Burst/burst-aot0ylansgr.l7z/lib_burst_generated_part_74fd54a175a6821acce1a4873415130a.gbc
Temp/Burst/burst-aot0ylansgr.l7z/lib_burst_generated_part_74fd54a175a6821acce1a4873415130a.obj
Temp/
